In [1]:
import pandas as pd



df = pd.read_json('dane do faktur.json')

In [2]:
df

                                            invoices
0  {'date': '1.12.2020', 'buyer': {'name': 'Firma...
1  {'date': '11.11.2020', 'buyer': {'name': 'Firm...
2  {'date': '15.12.2020', 'buyer': {'name': 'Firm...