In [61]:
import pandas as pd
import re
import os

from bs4 import BeautifulSoup

In [62]:
def is_page_empty(bs) -> bool:
    empty_condition = bs.find('h2', class_='text-white font-weight-bold')

    if empty_condition is None:
        return False
    else:
        return True

In [63]:
def parse_salary(salary) -> dict:
    # pomijamy dziwne ogłoszenie firmy Alten
    if salary != '$':
        bounds = re.findall('[0-9]+', salary.replace(' ', ''))

        low_bound = bounds[0]+bounds[1]
        # paskudny hack
        high_bound = bounds[2]+bounds[3] if len(bounds) > 2 else bounds[0]+bounds[1]
        currency = salary.split()[-1]

        return {'low': low_bound,
                'high': high_bound,
                'currency': currency}

In [64]:
def parse_city(city) -> dict:
    # pomijamy navalgo z dolarem
    if re.search('(Zdalna)', city) or re.search('\d{2}', city):
         _city = "Zdalna"
         country = 'N/A'
    else:       
        (_city, country) = city.split(',')
        country = country.strip()

    return {'city': _city, 'country': country}

In [65]:
def parse_jobs(jobs) -> list:
    results = []
    
    for job in jobs:
        results.append(parse_job(job))

    return results

In [66]:
def parse_job(job) -> dict:
    job_info = job.find('div', class_='posting-info position-relative d-lg-flex flex-grow-1 align-items-center ng-star-inserted').find_all('span')
    
    salary = job_info[0].text.strip()
    salary_data = parse_salary(salary)
    
    location = job.find('nfj-posting-item-city')
    if location is None:
        location = job_info[1]

    location = location.text.strip()
    location = parse_city(location)

    name = job.find('h3', class_='posting-title__position').text.strip()
    
    company = job.find('span', class_='posting-title__company').text.replace('w', '').strip()

    technology = job.find('a', class_='btn btn-outline-secondary btn-sm text-truncate')
    if technology:
        technology = technology.text.strip()
    else:
        technology = 'N/A'

    return {
        'location': location,
        'salary': salary_data,
        'name': name,
        'company': company,
        'technology': technology
    }

In [67]:
def get_data(page) -> list:
    results = []

    jobs = [x.parent for x in page.find_all('div', class_='posting-image')]
    page_data = parse_jobs(jobs)
    results += page_data

    return results

In [68]:
data_dir = '../data/raw'
results = []

for entry in os.scandir(data_dir):
    with open(
        os.path.join(data_dir, entry.name),
        encoding='UTF-8') as f:
            html = f.read()

    job = entry.name.split('_')[0]
    bs = BeautifulSoup(html)
    
    offers = get_data(bs)
    for offer in offers:
        offer['job'] = job
    results += offers

In [69]:
offers

[{'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '20000', 'high': '28000', 'currency': 'PLN'},
  'name': 'Senior Data Scientist',
  'company': 'IIIT',
  'technology': 'N/A',
  'job': 'data scientist'},
 {'location': {'city': 'Warszawa', 'country': 'POL'},
  'salary': {'low': '4500', 'high': '6500', 'currency': 'PLN'},
  'name': 'Junior Data Scientist',
  'company': 'Cenatorium',
  'technology': 'N/A',
  'job': 'data scientist'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '13650', 'high': '17850', 'currency': 'PLN'},
  'name': 'Data Scientist (Mid/Senior)',
  'company': 'Onelo S.A.',
  'technology': 'N/A',
  'job': 'data scientist'},
 {'location': {'city': 'Warsaw', 'country': 'POL'},
  'salary': {'low': '22000', 'high': '30000', 'currency': 'PLN'},
  'name': 'Lead Data Scientist',
  'company': 'Adform Sp. z o.o.',
  'technology': 'N/A',
  'job': 'data scientist'},
 {'location': {'city': 'Sopot', 'country': 'POL'},
  'salary': {'low': '7000', 'high': '12500', 'currency': 'PLN'},
  'name': 'Data Scientist',
  'company': 'Grupa Invicta',
  'technology': 'N/A',
  'job': 'data scientist'},
 {'location': {'city': 'Budapest', 'country': 'HUN'},
  'salary': {'low': '10684', 'high': '13827', 'currency': 'PLN'},
  'name': 'Data Scientist',
  'company': 'Manuvia Expert Recruitment',
  'technology': 'N/A',
  'job': 'data scientist'}]

In [70]:
df = pd.json_normalize(results, sep='_')
df.head()

,name,company,technology,job,location_city,location_country,salary_low,salary_high,salary_currency,salary
0,Business Analyst/Senior Business Analyst,SoftServe,N/A,data analyst,Zdalna,N/A,11000,21500,PLN,NaN
1,Power BI Developer / Data Analyst,Objectivity,N/A,data analyst,Zdalna,N/A,14000,20000,PLN,NaN
2,Junior Data Analyst,Coinfirm,N/A,data analyst,Zdalna,N/A,3100,5000,PLN,NaN
3,Data Analyst,Packhelp,N/A,data analyst,Warsaw,POL,13000,15000,PLN,NaN
4,Data analyst (analityk danych),Alterdata.io sp. z o.o.,N/A,data analyst,Zdalna,N/A,12000,18000,PLN,NaN

In [71]:
df.to_csv('../data/interim/job_offers.csv', sep=';', encoding='UTF', index=False)

In [72]:
results

[{'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '11000', 'high': '21500', 'currency': 'PLN'},
  'name': 'Business Analyst/Senior Business Analyst',
  'company': 'SoftServe',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '14000', 'high': '20000', 'currency': 'PLN'},
  'name': 'Power BI Developer / Data Analyst',
  'company': 'Objectivity',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '3100', 'high': '5000', 'currency': 'PLN'},
  'name': 'Junior Data Analyst',
  'company': 'Coinfirm',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Warsaw', 'country': 'POL'},
  'salary': {'low': '13000', 'high': '15000', 'currency': 'PLN'},
  'name': 'Data Analyst',
  'company': 'Packhelp',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '12000', 'high': '18000', 'currency': 'PLN'},
  'name': 'Data analyst (analityk danych)',
  'company': 'Alterdata.io sp. z o.o.',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '5500', 'high': '8300', 'currency': 'PLN'},
  'name': 'Junior Application Consultant',
  'company': 'Syncron Sp. z o.o.',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Warszawa', 'country': 'POL'},
  'salary': {'low': '8500', 'high': '12000', 'currency': 'PLN'},
  'name': 'Junior Data Analyst',
  'company': 'Colliers Poland',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '21000', 'high': '25095', 'currency': 'PLN'},
  'name': 'Data Business Analyst (Remote)',
  'company': 'Mindbox',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '18480', 'high': '21840', 'currency': 'PLN'},
  'name': 'Data Analyst - 100% REMOTE',
  'company': 'AVENGA',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '10080', 'high': '18970', 'currency': 'PLN'},
  'name': 'UX Researcher',
  'company': 'NOVOMATIC Technologies Poland S.A.',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '16149', 'high': '24234', 'currency': 'PLN'},
  'name': 'Data Analyst and Developer',
  'company': 'Schneider Electric',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '14000', 'high': '21000', 'currency': 'PLN'},
  'name': 'Digital Marketing Business Analyst',
  'company': 'Elitmind',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '13650', 'high': '23100', 'currency': 'PLN'},
  'name': 'Data Analyst',
  'company': 'Onelo S.A.',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '20000', 'high': '22340', 'currency': 'PLN'},
  'name': 'Javascript Developer',
  'company': 'Sigma IT Polska',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '18000', 'high': '24000', 'currency': 'PLN'},
  'name': 'Senior Data Analyst',
  'company': 'Devire',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Kraków', 'country': 'POL'},
  'salary': {'low': '10000', 'high': '16000', 'currency': 'PLN'},
  'name': 'Data Analyst - ML Platform',
  'company': 'FLYR Poland sp.z.o.o',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Warszawa', 'country': 'POL'},
  'salary': {'low': '5000', 'high': '7000', 'currency': 'PLN'},
  'name': 'Junior Data Analyst',
  'company': 'John Leggy',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '13440', 'high': '25200', 'currency': 'PLN'},
  'name': 'Business Analyst',
  'company': 'Link Group',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Warszawa', 'country': 'POL'},
  'salary': {'low': '7000', 'high': '12000', 'currency': 'PLN'},
  'name': 'Data Analyst',
  'company': 'John Leggy',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '6500', 'high': '8500', 'currency': 'PLN'},
  'name': 'Product Data Analyst',
  'company': 'Jamf',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Warsaw', 'country': 'POL'},
  'salary': {'low': '10000', 'high': '20000', 'currency': 'PLN'},
  'name': 'Data Analyst',
  'company': 'Devire Sp. z o.o.',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Gdańsk', 'country': 'POL'},
  'salary': None,
  'name': 'Junior Data Analyst',
  'company': 'ALTEN Polska',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '12000', 'high': '18000', 'currency': 'PLN'},
  'name': 'Product Data Analyst',
  'company': 'No Fluff Jobs',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '8000', 'high': '11000', 'currency': 'PLN'},
  'name': 'UI Designer',
  'company': 'HL Tech',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Warsaw', 'country': 'POL'},
  'salary': {'low': '12000', 'high': '18000', 'currency': 'PLN'},
  'name': 'Data Analyst (Private Equity)',
  'company': 'Devire',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '5000', 'high': '7600', 'currency': 'PLN'},
  'name': 'Sales Development Representative',
  'company': 'Netguru',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '15120', 'high': '21840', 'currency': 'PLN'},
  'name': 'Data Analyst',
  'company': 'BlueSoft Sp. z o.o.',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '16800', 'high': '24500', 'currency': 'PLN'},
  'name': 'Senior Product Designer',
  'company': 'Netguru',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '8799', 'high': '17598', 'currency': 'PLN'},
  'name': 'Data Analyst',
  'company': 'Secret Sauce Partners, Inc.',
  'technology': 'N/A',
  'job': 'data analyst'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '19169', 'high': '31150', 'currency': 'PLN'},
  'name': 'Data Engineer',
  'company': 'Link Group',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '17000', 'high': '32000', 'currency': 'PLN'},
  'name': 'Data Warehouse Engineer',
  'company': 'Zonda Exchange',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '29400', 'high': '32550', 'currency': 'PLN'},
  'name': 'Lead Data Engineer  (Remote)',
  'company': 'Mindbox',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '16800', 'high': '25200', 'currency': 'PLN'},
  'name': 'Data Engineer',
  'company': 'STX Next',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '26880', 'high': '30240', 'currency': 'PLN'},
  'name': 'Azure Data Engineer with PySpark',
  'company': 'Lingaro',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '14000', 'high': '22000', 'currency': 'PLN'},
  'name': 'Data Engineer (SQL, Python, Cloud)',
  'company': 'Alterdata.io sp. z o.o.',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '28000', 'high': '38000', 'currency': 'PLN'},
  'name': 'Remote Senior AWS Data Engineer',
  'company': 'ClearScale',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '21000', 'high': '26250', 'currency': 'PLN'},
  'name': 'DWH/Big Data Engineer',
  'company': 'Sii Polska',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '46200', 'high': '46200', 'currency': 'PLN'},
  'name': 'Senior Data Analytics Engineer',
  'company': 'Coforge',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '10923', 'high': '21847', 'currency': 'PLN'},
  'name': 'Middle/Senior Data Engineer (Python)',
  'company': 'Provectus',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '20000', 'high': '28000', 'currency': 'PLN'},
  'name': 'Senior Scala Big Data Engineer',
  'company': 'Altimetrik Poland',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '18000', 'high': '33000', 'currency': 'PLN'},
  'name': 'Senior Data Engineer',
  'company': 'Coople',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '20160', 'high': '30240', 'currency': 'PLN'},
  'name': 'Data Engineer',
  'company': 'GetInData',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '20160', 'high': '30240', 'currency': 'PLN'},
  'name': 'Data Engineer',
  'company': 'GetInData',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Wroclaw', 'country': 'POL\n + 4'},
  'salary': {'low': '18480', 'high': '21840', 'currency': 'PLN'},
  'name': 'Data Scientist / ML Engineer',
  'company': 'SpyroSoft',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '13440', 'high': '18480', 'currency': 'PLN'},
  'name': 'Data Engineer',
  'company': 'Devire',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '20160', 'high': '28560', 'currency': 'PLN'},
  'name': 'Remote Data Science Engineer',
  'company': 'apreel Sp. z o.o.',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '15000', 'high': '20000', 'currency': 'PLN'},
  'name': 'Data Engineer',
  'company': 'Shiji Poland',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Warszawa', 'country': 'POL\n + 8'},
  'salary': {'low': '13000', 'high': '18000', 'currency': 'PLN'},
  'name': 'Data Engineer',
  'company': 'Sollers Consulting',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '17600', 'high': '25000', 'currency': 'PLN'},
  'name': 'BI Developer / Data Engineer',
  'company': 'Objectivity',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '13440', 'high': '20160', 'currency': 'PLN'},
  'name': 'Data Engineer with Python',
  'company': 'Lingaro',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': None,
  'name': 'Senior Data Science Engineer',
  'company': 'NavAlgo',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '5500', 'high': '7500', 'currency': 'PLN'},
  'name': 'Junior Data Engineer',
  'company': 'FOTC',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '13650', 'high': '16800', 'currency': 'PLN'},
  'name': 'SQL Data Engineer',
  'company': 'Onelo S.A.',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '12000', 'high': '19000', 'currency': 'PLN'},
  'name': 'Mid Python Data Engineer',
  'company': 'Acaisoft Poland Sp. z.o.o',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '14000', 'high': '22000', 'currency': 'PLN'},
  'name': 'Azure Data Engineer',
  'company': 'Alterdata.io sp. z o.o.',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '30240', 'high': '33600', 'currency': 'PLN'},
  'name': 'Lead Operational Data Engineer',
  'company': 'Link Group Sp. z o. o.',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '25200', 'high': '30240', 'currency': 'PLN'},
  'name': 'Senior Operational Data Engineer',
  'company': 'Link Group Sp. z o. o.',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '11000', 'high': '14000', 'currency': 'PLN'},
  'name': 'Data Engineer',
  'company': 'esky.pl S.A.',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '20160', 'high': '23520', 'currency': 'PLN'},
  'name': 'Operational Data Engineer',
  'company': 'Link Group Sp. z o. o.',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Poznań', 'country': 'POL\n + 4'},
  'salary': {'low': '12500', 'high': '17000', 'currency': 'PLN'},
  'name': 'Big Data Engineer',
  'company': 'Allegro',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Poznań', 'country': 'POL\n + 4'},
  'salary': {'low': '16500', 'high': '22500', 'currency': 'PLN'},
  'name': 'Senior Big Data Engineer',
  'company': 'Allegro',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '15000', 'high': '30000', 'currency': 'PLN'},
  'name': 'Data Engineer',
  'company': 'Surfer',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Warszawa', 'country': 'POL'},
  'salary': {'low': '9000', 'high': '18000', 'currency': 'PLN'},
  'name': 'Data Engineer',
  'company': 'Orange Polska',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '16464', 'high': '16800', 'currency': 'PLN'},
  'name': 'ETL Data Engineer-Professional',
  'company': 'AVENGA',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '16000', 'high': '24000', 'currency': 'PLN'},
  'name': 'Remote Big Data Software Engineer',
  'company': 'SoftServe',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '25000', 'high': '34000', 'currency': 'PLN'},
  'name': 'Senior Data & Energy Engineer',
  'company': 'IIIT',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '17000', 'high': '23000', 'currency': 'PLN'},
  'name': 'Data Engineer/ SQL Developer',
  'company': 'CBRE Business Services Organisation',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Kraków', 'country': 'POL'},
  'salary': {'low': '17000', 'high': '21000', 'currency': 'PLN'},
  'name': 'Python Data Engineer',
  'company': 'Placeise',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Gdańsk', 'country': 'POL'},
  'salary': {'low': '18500', 'high': '23500', 'currency': 'PLN'},
  'name': 'MLOps / Data Science Engineer',
  'company': 'Volue',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '13000', 'high': '19000', 'currency': 'PLN'},
  'name': 'Regular/Senior Cloud Data Engineer',
  'company': 'IHS Markit',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '27000', 'high': '35000', 'currency': 'PLN'},
  'name': 'Data Engineer - Technical Leader',
  'company': 'Acaisoft Poland Sp. z.o.o',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '20000', 'high': '33000', 'currency': 'PLN'},
  'name': 'Senior/Expert Data Engineer',
  'company': 'Acaisoft Poland Sp. z.o.o',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '27000', 'high': '35000', 'currency': 'PLN'},
  'name': 'Data Engineer - Technical Leader',
  'company': 'Acaisoft Poland Sp. z.o.o',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '20000', 'high': '28000', 'currency': 'PLN'},
  'name': 'Backend Engineer - Data Platform',
  'company': 'Sumo Logic',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '17000', 'high': '29000', 'currency': 'PLN'},
  'name': 'Data Engineer',
  'company': 'AXA Avanssur SA Spółka Akcyjna Oddział II  Polsce',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '18000', 'high': '26000', 'currency': 'PLN'},
  'name': 'Senior Data Engineer (Data Science)',
  'company': 'BlackSan Technologies',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '26000', 'high': '32000', 'currency': 'PLN'},
  'name': 'Senior Big Data Engineer',
  'company': 'Devire',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '7500', 'high': '10000', 'currency': 'PLN'},
  'name': 'Junior Data Engineer',
  'company': 'Business Reporting - Advisory Group (BRAG)',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '20000', 'high': '20000', 'currency': 'PLN'},
  'name': 'Data Quality Engineer',
  'company': 'Devire',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Krakow', 'country': 'POL\n + 4'},
  'salary': {'low': '13000', 'high': '20000', 'currency': 'PLN'},
  'name': 'Mid / Senior Cloud Data Engineer',
  'company': 'Capgemini',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Warszawa', 'country': 'POL\n + 8'},
  'salary': {'low': '16500', 'high': '22500', 'currency': 'PLN'},
  'name': 'Senior Data Engineer (Data Science Hub)',
  'company': 'Allegro',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '15292', 'high': '24031', 'currency': 'PLN'},
  'name': 'Mid Data Engineer (ETL /AWS /Snowflake)',
  'company': 'Svitla Systems, Inc.',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '13000', 'high': '23000', 'currency': 'PLN'},
  'name': 'Python Engineer (retraining to Big Data)',
  'company': 'SoftServe Poland',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '16464', 'high': '16800', 'currency': 'PLN'},
  'name': 'Data Engineer-Professional',
  'company': 'AVENGA',
  'technology': 'N/A',
  'job': 'data engineer'},
 {'location': {'city': 'Zdalna', 'country': 'N/A'},
  'salary': {'low': '15120', 'high': '18480', 'currency': 'PLN'},
  'name': 'BI Data Engineer',
  'company': 'Link Group',
  'technology': 'N/A',
  'job': 'data engineer'},