In [1]:
import pandas as pd
import re

In [2]:
df_raw = pd.read_csv(
    '../data/interim/job_offers.csv',
    sep=';',
    encoding='UTF-8'
)
df_raw.head()

,name,company,technology,job,location.city,location.country,salary.low,salary.high,salary.currency,salary
0,Product Data Analyst,No Fluff Jobs,NaN,data analyst,Zdalna,NaN,12000.0,18000.0,PLN,NaN
1,Data Analyst (Private Equity),Devire,NaN,data analyst,Warsaw,POL,12000.0,18000.0,PLN,NaN
2,Business Analyst/Senior Business Analyst,SoftServe,NaN,data analyst,Zdalna,NaN,11000.0,21500.0,PLN,NaN
3,Power BI Developer / Data Analyst,Objectivity,NaN,data analyst,Zdalna,NaN,14000.0,20000.0,PLN,NaN
4,Junior Data Analyst,Coinfirm,NaN,data analyst,Zdalna,NaN,3100.0,5000.0,PLN,NaN

In [3]:
df = df_raw.copy()

df['name'] = df['name'].str.lower()
df['location.city'] = df['location.city'].str.lower()

In [5]:
df['salary.avg'] = (df['salary.low'] + df['salary.high'])/2

In [6]:
df['location.city'].unique()

array(['zdalna', 'warsaw', 'warszawa', 'kraków', 'gdańsk', 'wroclaw',
       'poznań', 'krakow', 'malbork', 'budapest', 'wrocław',
       'szombathely', 'lublin', 'gliwice', 'mysłowice', 'katowice',
       'opole', 'trzebinia', 'łódź', 'rzeszów', 'częstochowa', 'debrecen',
       'białystok', 'bydgoszcz', 'trójmiasto', 'szczecin', 'gdynia'],
      dtype=object)

In [7]:
df.loc[df['location.city'].isin(['warsaw', 'warszawa']), 'location.city'] = 'warszawa'
df.loc[df['location.city'].isin(['gdańsk', 'gdansk']), 'location.city'] = 'gdańsk'
df.loc[df['location.city'].isin(['wroclaw', 'wrocław']), 'location.city'] = 'wrocław'
df.loc[df['location.city'].isin(['kraków', 'krakow']), 'location.city'] = 'kraków'
df.loc[df['location.city'].isin(['gdańsk', 'gdynia', 'trójmiasto']), 'location.city'] = 'trójmiasto'

In [8]:
df.loc[
    (df['location.city'] == 'zdalna') &
    (df['location.country'].isnull()),
    'location.country'] = 'B/D'

In [9]:
df['is_senior'] = 0
df.loc[df['name'].apply(lambda x: True if re.match('(?i)(senior)', x) else False), 
'is_senior'] = 1

In [10]:
df = df.loc[df['salary.currency'] == 'PLN']

In [11]:
df.to_csv('../data/processed/job_offers.csv',
    sep=';',
    encoding='UTF-8',
    index=False)